<div class="container">
  <section class="section animate">
    <div class="row">
      <div class="col col-12">

        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">What we offer</h2>
          </div>
          <p class="section__description">
            <ul>
              <li>Software development</li>
              <li>Technical coaching for individuals and teams</li>
              <li>Engineering leadership coaching and support</li>
              <li>Team trainings, retrospective facilitation, workshops and more!</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
